body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
}

.header-face {
  
}

.header-face__image {
  max-width: 90%;
  max-height: 320px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.skills {
  padding: 20px;
}

.skills__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills__list {
  list-style-type: none;
  padding: 0;
}

.skills__item {
  margin: 5px 0;
}

.projects {
  padding: 20px;
}

.projects__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.projects__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-block__image {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.project-block__image:hover {
  transform: rotate(-5deg) scale(1.05);
}

@media (max-width: 768px) {
  .project-block__image {
      max-width: 100%;
  }
}
